<div class="inside-box">
    <div class="base-station-box">
        <div class="title-search">
            <span class="new-brush" ng-click="getBaseStationNew()" ng-class="isActive(newBrush)"></span>
            <h2 ng-click="getBaseStationNew()">Acquire Success</h2>
            <!--<div class="search-box">-->
                <!--<input type="text" placeholder="Search">-->
                <!--<p></p>-->
            <!--</div>-->
        </div>
        <ul class="base-station-list system-list my-list">
            <li class="system-list-li title-list-li">
                <ul>
                    <li class="base-station-list-li-ss title-li"><span><input type="checkbox" system-check-all></span></li>
                    <li class="base-station-list-li-b title-li">Details</li>
                    <li class="base-station-list-li-b title-li">Acquisition time</li>
                </ul>
            </li>
            <li class="system-list-li" ng-repeat="b in baseList">
                <ul>
                    <li class="base-station-list-li-ss"><span><input type="checkbox" system-check></span></li>
                    <li class="base-station-list-li-b">{{'mcc:'+b.mcc+' mnc:'+b.mnc+' tac:'+b.tac}}</li>
                    <li class="base-station-list-li-b">{{b.time||'-'}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>